<!DOCTYPE html>
<html>
<head>
  <title>Food Guardian</title>
  <Style>
    h1{
      font-size:50px;
      font-weight:normal;
      color:rgb(0,180,0);
      text-align: center;
    }
    #banner{
      width: 100%;
      height:660px;
      object-fit:cover
    }
    .body{
      font-size:30px;
      font-weight:normal;
      color:rgb(150,150,150);
      text-align: center;
    }
    h2{
      font-size:50px;
      font-weight:normal;
      color:rgb(50,180,50);
      text-align: center;
    }
    #container={
      max: width 720px;;margin:0 auto;
    }
  </Style>
</head>
  <body>
    <div id="container">
    <h1>Food Guardian<h1>
      <img id="banner" src="https://a9305a7d-3d99-4a55-8e55-e51905d90a41-00-9ty9q6p8de28.spock.replit.dev/static/food%20.jpg">
      <h2> About Food Guardian</h2>
      <p class="body">𝐄𝐯𝐞𝐫𝐲 𝐦𝐞𝐚𝐥 𝐬𝐡𝐚𝐫𝐞𝐝 𝐢𝐬 𝐚 𝐬𝐭𝐨𝐫𝐲 𝐨𝐟 𝐠𝐞𝐧𝐞𝐫𝐨𝐬𝐢𝐭𝐲 𝐚𝐧𝐝 𝐜𝐨𝐦𝐩𝐚𝐬𝐬𝐢𝐨𝐧. 𝐈𝐧 𝐚 𝐰𝐨𝐫𝐥𝐝 𝐰𝐡𝐞𝐫𝐞 𝐚𝐛𝐮𝐧𝐝𝐚𝐧𝐜𝐞 𝐜𝐨𝐞𝐱𝐢𝐬𝐭𝐬 𝐰𝐢𝐭𝐡 𝐬𝐜𝐚𝐫𝐜𝐢𝐭𝐲, 𝐨𝐮𝐫 𝐚𝐜𝐭 𝐨𝐟 𝐬𝐡𝐚𝐫𝐢𝐧𝐠 𝐬𝐮𝐫𝐩𝐥𝐮𝐬 𝐟𝐨𝐨𝐝 𝐭𝐫𝐚𝐧𝐬𝐜𝐞𝐧𝐝𝐬 𝐦𝐞𝐫𝐞 𝐬𝐮𝐬𝐭𝐞𝐧𝐚𝐧𝐜𝐞; 𝐢𝐭 𝐛𝐞𝐜𝐨𝐦𝐞𝐬 𝐚 𝐬𝐲𝐦𝐛𝐨𝐥 𝐨𝐟 𝐞𝐦𝐩𝐚𝐭𝐡𝐲 𝐚𝐧𝐝 𝐬𝐨𝐥𝐢𝐝𝐚𝐫𝐢𝐭𝐲. 𝐄𝐚𝐜𝐡 𝐦𝐞𝐚𝐥 𝐫𝐞𝐬𝐜𝐮𝐞𝐝 𝐟𝐫𝐨𝐦 𝐰𝐚𝐬𝐭𝐞 𝐧𝐨𝐮𝐫𝐢𝐬𝐡𝐞𝐬 𝐧𝐨𝐭 𝐨𝐧𝐥𝐲 𝐭𝐡𝐞 𝐛𝐨𝐝𝐲 𝐛𝐮𝐭 𝐚𝐥𝐬𝐨 𝐭𝐡𝐞 𝐬𝐨𝐮𝐥, 𝐢𝐠𝐧𝐢𝐭𝐢𝐧𝐠 𝐡𝐨𝐩𝐞 𝐚𝐧𝐝 𝐟𝐨𝐬𝐭𝐞𝐫𝐢𝐧𝐠 𝐚 𝐬𝐞𝐧𝐬𝐞 𝐨𝐟 𝐜𝐨𝐦𝐦𝐮𝐧𝐢𝐭𝐲. 𝐋𝐞𝐭'𝐬 𝐫𝐞𝐝𝐞𝐟𝐢𝐧𝐞 𝐚𝐛𝐮𝐧𝐝𝐚𝐧𝐜𝐞 𝐛𝐲 𝐬𝐡𝐚𝐫𝐢𝐧𝐠 𝐰𝐡𝐚𝐭 𝐰𝐞 𝐡𝐚𝐯𝐞, 𝐬𝐩𝐫𝐞𝐚𝐝𝐢𝐧𝐠 𝐰𝐚𝐫𝐦𝐭𝐡 𝐭𝐡𝐫𝐨𝐮𝐠𝐡 𝐚 𝐬𝐢𝐦𝐩𝐥𝐞 𝐚𝐜𝐭 𝐨𝐟 𝐤𝐢𝐧𝐝𝐧𝐞𝐬𝐬. 𝐓𝐨𝐠𝐞𝐭𝐡𝐞𝐫, 𝐥𝐞𝐭'𝐬 𝐛𝐮𝐢𝐥𝐝 𝐚 𝐟𝐮𝐭𝐮𝐫𝐞 𝐰𝐡𝐞𝐫𝐞 𝐧𝐨 𝐨𝐧𝐞 𝐠𝐨𝐞𝐬 𝐡𝐮𝐧𝐠𝐫𝐲, 𝐚𝐧𝐝 𝐞𝐯𝐞𝐫𝐲 𝐦𝐞𝐚𝐥 𝐛𝐞𝐜𝐨𝐦𝐞𝐬 𝐚 𝐜𝐞𝐥𝐞𝐛𝐫𝐚𝐭𝐢𝐨𝐧 𝐨𝐟 𝐡𝐮𝐦𝐚𝐧𝐢𝐭𝐲'𝐬 𝐛𝐨𝐮𝐧𝐝𝐥𝐞𝐬𝐬 𝐜𝐚𝐩𝐚𝐜𝐢𝐭𝐲 𝐟𝐨𝐫 𝐜𝐨𝐦𝐩𝐚𝐬𝐬𝐢𝐨𝐧.
      </p>
      <h2> TODO How we do things </h2>
    <div style="text-align:center;">

      <button>Contract Us</button>
    <p>copyright 2023,Food_Guardian</p>
    </div>
    </div>
  </body>
</html>